@import "../css/main.scss";

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-fade-left-enter-active {
  transition: all .5s ease;
}

.slide-fade-left-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-left-enter, .slide-fade-left-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.slide-fade-top-enter-active {
  transition: all .5s ease;
}

.slide-fade-top-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-top-enter, .slide-fade-top-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

.slide-top-enter-active {
  transition: all .5s ease;
}

.slide-top-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-top-enter, .slide-top-leave-to {
  transform: translateY(20px);
}
