$primary-color: #54D4C4;
$accent-color: #132237;
$border-color: #333;
$dark-bg: #424242;
$white: #fff;
$black: #000;
$off-white: #C7D6DC;
$off-white-cream: #FFFCF4;
$off-white-cream-2: #E5E3DB;

$primary-color-shade-1: #99DBD3;
$primary-color-shade-2: #40A195;
$accent-color-shade-1: #172A44;
$accent-color-shade-2: #122033;
$accent-color-orange: #FC4F1E;

